<div class="container">
       <input type="file" class="file-input" 
              [disabled]="events.eventsExist()"
              (change)="onFileSelected($event)" multiple>
       <button (click)="downloadEvents()">Download Events</button>
       <button (click)="startTimer()">Start</button>
       <button (click)="stopTimer()">Pause</button>
       <button (click)="reset()">Reset</button>
       <button (click)="recordCP1()">CP1</button>
       <button (click)="recordCP2()">CP2</button>
       <button (click)="recordFinish()">Finish</button>
       <button (click)="undo()">Undo</button>
       <div>{{getTimer()}}</div>
       <div class="divider"></div>
       <a href="https://github.com/liththedev/TCLRecorder">Source Code</a>
</div>