<div class="imageContainer" *ngFor="let image of events.images; let i = index">
    <img src="./assets/lilx.png" 
        class="lilx"
        *ngFor="let event of events.events[i]"
        [style.left]="event.x - 4 + 'px'"
        [style.top]="event.y - 4 + 'px'">
        <!-- note that position - 4 is to center the 'x' -->
    <img src="{{image}}" 
        (click)="recordDeath(i, $event)">
</div>
<div class="bottom">
    <button (click)="downloadEvents()">Download Events</button>
    <span class="divider"></span>
    <a href="https://github.com/liththedev/TCLRecorder">Source Code</a>
</div>